@mixin theme-light {
  --color-primary: #3740ff;
  --color-primary-container: #e0e0ff;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #00006e;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #410002;

  --color-background: #ffffff;
  --color-on-background: #202124;
  --color-outline: #777680;

  --color-surface: #ffffff;
  --color-surface-variant: #e4e1ec;
  --color-on-surface: #202124;
  --color-on-surface-varient: #46464f;

  --header-color-background: #ffffff;
  --header-color-on-background: #202124;
  --header-color-outline: rgba(0, 0, 0, .1);

  --footer-color-background:  #202124;
  --footer-color-on-background: #ffffff;

  --color-link: #1a0dab;
  --color-link-variant: #681da8;
}

@mixin theme-dark {
  --color-primary: #bfc2ff;
  --color-primary-container: #0b0ee8;
  --color-on-primary: #0000ac;
  --color-on-primary-container: #e0e0ff;

  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;

  --color-background: #202124;
  --color-on-background: #e5e1e6;
  --color-outline: #918f9a;

  --color-surface: #202124;
  --color-surface-variant: #46464f;
  --color-on-surface: #e5e1e6;
  --color-on-surface-varient: #c7c5d0;

  --header-color-background: #000000;
  --header-color-on-background: #ffffff;
  --header-color-outline: rgba(255, 255, 255, .3);

  --footer-color-background:  #000000;
  --footer-color-on-background: #ffffff;

  --color-link: #8ab4f8;
  --color-link-variant: #c58af9;
}

:root,
[data-theme='light'] {
  @include theme-light;
}

[data-theme='dark'] {
  @include theme-dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }

  html {
    color-scheme: dark;
  }
}
