:root {
  --font-fallback: Roboto, 'Open Sans', Helvetica, Verdana, Tahoma, sans-serif;
  --font-body: var(--font-roboto), var(--font-fallback);
  --font-heading: var(--font-roboto), var(--font-fallback);
  --font-code: var(--font-roboto-mono), 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, monospace;
}
