@mixin _create-type($font-type, $name) {
  font-family: var(--font-#{$font-type});
  font-size: var(--type-#{$name}-font-size);
  font-weight: var(--type-#{$name}-font-weight);
  line-height: var(--type-#{$name}-line-height);
  letter-spacing: var(--type-#{$name}-letter-spacing);
}

@mixin type-headline($level) {
  @include _create-type(headline, headline#{$level});
}

@mixin type-subtitle($level) {
  @include _create-type(body, subtitle#{$level});
}

@mixin type-body($level) {
  @include _create-type(body, body#{$level});
}

@mixin type-button {
  @include _create-type(body, button);
}

@mixin type-caption {
  @include _create-type(body, caption);
}

@mixin type-overline {
  @include _create-type(body, overline);
}
