@use '@/common/styles/vars';
@use '@/common/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: vars.$space-md;
  background-color: var(--footer-color-background);
  color: var(--footer-color-on-background);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: vars.$max-content-width-lg;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  padding: vars.$space-sm 0;
}

.logo {
  filter: invert(1);
  width: 96px;
  height: auto;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: vars.$space-sm;
  padding: vars.$space-sm 0;

  a,
  a:visited {
    color: var(--footer-color-on-background);
  }

  a:hover {
    text-decoration: none;
  }

  // Enable hover only on non-touch devices
  @media (hover: hover) and (pointer: fine) {
    .icon:hover {
      opacity: 0.5;
    }
  }

  .icon {
    width: 32px;
    height: auto;
  }
}

.copyright {
  @include mixins.type-body(2);
  padding: vars.$space-sm 0;
}

@media (min-width: vars.$sm) {
  .wrapper {
    padding: vars.$space-lg;
  }
}

@media (min-width: vars.$md) {
  .main {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: vars.$lg) {
  .wrapper {
    padding: vars.$space-xl;
  }
}