@use '@/common/styles/base';
@use '@/common/styles/fonts';
@use '@/common/styles/theme';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: fonts.$font-body;
  color: theme.$foreground-theme-lt;
  background-color: theme.$background-theme-lt;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: theme.$foreground-theme-dk;
    background-color: theme.$background-theme-dk;
  }
}
