@use '@/common/styles/base';
@use '@/common/styles/colors';
@use '@/common/styles/spacing';
@use '@/common/styles/typography';
@use '@/common/styles/mixins';

html,
body {
  max-width: 100vw;
  font-size: 16px;
}

body {
  @include mixins.type-body1;
  color: var(--color-on-background);
  background-color: var(--color-background);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-link-variant);
}

a:hover {
  text-decoration: underline;
}
