@use '@/common/styles/mixins';
@use '@/common/styles/vars';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: vars.$space-md;
}

.main {
  width: 100%;
  max-width: vars.$max-content-width-sm;
}

.headline {
  @include mixins.type-headline(1);
}

.para {
  margin: vars.$space-sm 0;
}

@media (min-width: vars.$sm) {
  .wrapper {
    padding: vars.$space-lg;
  }

  .para {
    margin: vars.$space-md 0;
  }
}

@media (min-width: vars.$lg) {
  .wrapper {
    padding: vars.$space-xl;
  }

  .para {
    margin: vars.$space-lg 0;
  }
}
